@font-face {
    font-family: 'google-sans'; /* Name your font family */
    src: url('../../fonts/HelveticaNowDisplay-Regular.ttf'); /* Locate the .ttf file within your directory*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Global Atribut */
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}


*{
    line-height: 30px;
}

main .chat-container .ai-chat p{
    margin: 20px 0 20px 0;
}


i{
    color: rgb(255, 255, 255);
}
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
code{
    display: inline-block;
    border-radius: 20px;
}
em {
    opacity: 80%;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(78, 78, 78);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(78, 78, 78);
}

body{
    font-family: google-sans;
    background-color: rgb(37, 37, 37);
    color: white;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 8dvh 70dvh 22dvh;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "sidebar main";

    /*animation: fadeIn 1s ease-out;*/
    animation: fadeIn 0.5s ease-out;
}


#btn-sidebar{
    /*background-color: rgb(59, 59, 59);*/
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    display: none;
}

#btn-sidebar:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

nav{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    grid-area: navbar;
}

.model-name{
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.profile{
    margin-left: auto;
    height: 70%;
    aspect-ratio: 1/1;
}

.profile:hover{
    cursor: pointer;
}

.background-profile-options {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.profile-options{
    padding: 7px;
    display: flex;
    align-items: center;
    background-color: rgb(54, 54, 54);
    top: 8vh;
    right: 0;
    position: fixed;
    height: auto;
    width: 50vh;
    border-radius: 20px;
    border: 0.1px solid rgb(75, 75, 75);
}

.profile-options a {
    width: 100%;
}

.profile-options button {
    width: 100%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-family: google-sans;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.2s;
}

.profile-options button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}

img{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    object-fit: cover;
}

.model-name:hover{
    cursor: pointer;
    background-color: rgb(68, 68, 68);
}

/* HTML: <div class="loader"></div> */
.loader {
    margin: 40px 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#1a16ff 94%,#0000) top/2px 2px no-repeat,
      conic-gradient(#0000 30%,#d8d4ff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 2px),#000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{ 
100%{transform: rotate(1turn)}
}

main{
    overflow-y: scroll;
    grid-area: main;
}

main::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

.welcome {
    padding: 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome .title {
    text-align: center;
}
.welcome .desc {
    font-size: smaller;
    text-align: center;
}
.welcome .additional{
    margin-top: 20px;
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.5s;
}
.welcome .additional:hover{
    background-color: rgb(29, 29, 29);
}
.welcome .additional a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

.chat-container{
    padding-left: 10%;
    padding-right: 10%;
}

.chat-container .attachments {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 5px;
    display: flex;
    gap: 15px;
}

.chat-container .attachments .file-wrapper {
    background-color: rgb(51, 51, 51);
    padding-right: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    height: 100%;
    gap: 20px;
}

.chat-container .attachments .file-wrapper .thumbnail {
    width: 40px;
    height: 40px;
    background-color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.chat-container .attachments .file-wrapper .description-wrapper{
    display: flex;
    flex-direction: column;
}

.chat-container .attachments .file-wrapper .description-wrapper .title {
    height: 20px;
    font-size: small;
}
.chat-container .attachments .file-wrapper .description-wrapper .full-size {
    font-size: x-small;
    opacity: 80%;
}
.chat-container .attachments .file-wrapper .description-wrapper .full-size a {
    margin-left: 10px;
}
.chat-container .attachments .file-wrapper .description-wrapper .full-size .link:hover {
    color: rgb(78, 78, 255);
    cursor: pointer;
}

.user-chat{
    margin-bottom: 5px;
    border-radius: 20px 20px 0 20px;

    width: fit-content;
    max-width: 40vw;
    padding: 10px 20px;
    margin-left: auto;
    background-color: rgb(46, 46, 46);
    animation: fadeIn 0.5s ease-out;

    overflow-x: auto;
}

.friend-chat{
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 0;

    width: fit-content;
    max-width: 60vw;
    padding: 10px 20px;
    background-color: rgb(46, 46, 46);
}


.ai-chat{
    margin-top: 40px;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-out;
    color: rgb(255, 255, 255);
}

footer{
    display: flex;
    justify-content: center;
    width: calc(100% - 250px);
    position: fixed;
    bottom: 0;
}

.input-wrapper {
    padding: 0 10% 15px 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper .file-container{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: end;
}

.input-wrapper .file-container .file-wrapper {
    background-color: rgb(56, 56, 56);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.input-wrapper .file-container .file-wrapper .thumbnail {
    height: 40px;
    width: 40px;
    border: solid rgb(99, 99, 99) 1px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.input-wrapper .file-container .file-wrapper .description-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

.input-wrapper .file-container .file-wrapper .description-wrapper .title {
    height: 20px;
    font-size: small;
}


.input-wrapper .file-container .file-wrapper .description-wrapper .full-size {
    opacity: 80%;
    font-size: x-small;
}

.input-wrapper .file-container .file-wrapper .description-wrapper .progress-bar {
    width: 100%;
    height: 2px;
}

.input-wrapper .file-container .file-wrapper .description-wrapper .progress-bar .progress {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 100%;
    transition: 2s;
}

.input-wrapper {
    padding: 0 10% 15px 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper .attention {
    font-size: smaller;
    opacity: 80%;
}

textarea{
    padding-right: 10px;
}
.input-container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    width: 100%;;
    min-height: 100px;
    height: fit-content;
    outline: none;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.input{
    display: flex;
    width: 100%;
}

/* Ignore backround generated by chrome */
input[data-autocompleted] {
    background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 0s, color 0s 0s;
    transition-delay: calc(infinity * 1s);
}

.input-wrapper .input-container .additional-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-wrapper .input-container .additional-wrapper .send-wrapper .send-btn{
    color: white;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
    min-width: 40px;
    border: none;
    background-color: rgb(77, 77, 77);
    border-radius: 20px;
    transition: 0.5s;
}

.input-wrapper .input-container .additional-wrapper .send-wrapper .send-btn:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}

.input-wrapper .input-container .input .input-box{
    color: white;
    font-family: google-sans;
    background: none;
    border: none;
    outline: none;
    outline: none;
    height: 40px;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-wrapper .input-container .input .input-box:hover{
    border: none;
}

.input-wrapper .input-container .additional-wrapper .file-btn {
    color: white;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
    min-width: 40px;
    border: solid rgb(99, 99, 99) 1px;
    border-radius: 20px;
    transition: 0.5s;
    background: none;
}

.input-wrapper .input-container .additional-wrapper .file-btn:hover{
    cursor: pointer;
}

aside{
    background-color: rgb(29, 29, 29);
    height: 100dvh;
    position: sticky;
    top: 0;
    align-self: start;
    grid-area: sidebar;
}

aside .container{
    height: calc(100% - 190px);/*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 24vh 58vh 10vh;
    grid-template-areas: 
    "sidebar-navbar"
    "sidebar-summarry"
    "chat-history"
    "ads";*/
}
    
    /*
aside .container {
    position: relative;
    min-height: 100%;
}*/

.sidebar-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;

    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    grid-area: sidebar-navbar;
}

.sidebar-navbar .icon{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
}

.sidebar-navbar .icon:hover{
    cursor: pointer;
    background-color: rgb(59, 59, 59);
}

.sidebar-navbar .right{
    margin-left: auto;
}

.sidebar-summarry{
    padding: 10px;
    grid-area: sidebar-summarry;
}

.sidebar-summarry a p {
    color: rgb(255, 255, 255);
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebar-summarry a {
    text-decoration: none;
}

.sidebar-summarry a p:hover{
    background-color: rgb(44, 44, 44)
}

.sidebar-chat-history{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* AKU INGIN MEMBUAT DIV INI MENGISI RUANG KOSONG */
    justify-content: space-between;
}

.sidebar-chat-history .chat-history{
    padding: 10px;
    grid-area: chat-history;
    overflow-y: auto;
    max-height: 100%;
}
/*
.sidebar-chat-history .chat-history::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }
*/


.sidebar-chat-history .chat-history .chat .chat-box a{
    color: linear;
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 10px;
    margin-top: 2px;
    transition: 0.2s;
    text-decoration: none;
}

.sidebar-chat-history .chat-history .chat .chat-box a p{
    /* or inline-block */
  /*text-overflow: ellipsis;*/
  /*word-wrap: break-word;*/
  /*
  
  max-height: 1.8em;
  line-height: 1.8em;*/
  white-space: nowrap;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 60%, rgb(29, 29, 29));
    color: transparent;
    background-clip: text;
    width: 100%;
    overflow: hidden;
}

.sidebar-chat-history .chat-history .chat .active a{
    background-color: rgb(53, 53, 53);
    position: relative;
}

.sidebar-chat-history .chat-history .chat-box a:hover{
    background-color: rgb(44, 44, 44)
}

.sidebar-chat-history .ads{
    padding: 10px;
    height: 70px;
    font-size: small;
    grid-area: ads;

    width: 100%;
}

.sidebar-chat-history .ads .comment{
    opacity: 40%;
    font-size: small;
}

@media(max-width: 800px) {
    *{
        line-height: 25px;
    }
    body{
        grid-template-columns: 0px 1fr;
        font-size: smaller;
    }
    #btn-sidebar {
        display: block;
    }
    aside{
        width: 250px;
        position: fixed;
        left: -250px;
        transition: 0.3s;
        z-index: 10;
        height: 100%;
    }
    footer {
        width: 100%;
    }
    .show{
        display: block;
        z-index: 10;
        left: 0;
    }

    .background-sidebar{
        transition: 1s;
        opacity: 50%;
        background-color: black;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 9;
    }
}