@font-face {
    font-family: 'google-sans'; /* Name your font family */
    src: url('../../fonts/GOOGLESANS-REGULAR.TTF'); /* Locate the .ttf file within your directory*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Atribut */
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}


*{
    line-height: 25px;
}

main .chat-container .ai-chat p{
    margin: 20px 0 20px 0;
}


i{
    color: rgb(255, 255, 255);
}
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
code{
    display: inline-block;
    border-radius: 20px;
}



body{
    font-family: google-sans;
    background-color: rgb(37, 37, 37);
    color: white;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 8dvh 70dvh 22dvh;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";

    /*animation: fadeIn 1s ease-out;*/
    animation: fadeIn 0.5s ease-out;
}


#btn-sidebar{
    /*background-color: rgb(59, 59, 59);*/
    background: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    transition: 0.5s;
    display: none;
}

#btn-sidebar:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

nav{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    grid-area: navbar;
}

.model-name{
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.profile{
    margin-left: auto;
    height: 70%;
    aspect-ratio: 1/1;
}

.profile:hover{
    cursor: pointer;
}

.background-profile-options {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.profile-options{
    padding: 7px;
    display: flex;
    align-items: center;
    background-color: rgb(54, 54, 54);
    top: 8vh;
    right: 0;
    position: fixed;
    height: auto;
    width: 50vh;
    border-radius: 20px;
    border: 0.1px solid rgb(75, 75, 75);
}

.profile-options a {
    width: 100%;
}

.profile-options button {
    width: 100%;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-family: google-sans;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.2s;
}

.profile-options button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}

img{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    object-fit: cover;
}

.model-name:hover{
    cursor: pointer;
    background-color: rgb(68, 68, 68);
}

aside{
    background-color: rgb(29, 29, 29);
    height: 100vh;
    position: sticky;
    top: 0;
    align-self: start;
    grid-area: sidebar;
}

main{
    overflow-y: scroll;
    grid-area: main;
}

main::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

.chat-container{
    padding-left: 10%;
    padding-right: 10%;
}



.user-chat{
    margin-bottom: 50px;
    border-radius: 20px;

    width: fit-content;
    max-width: 40vw;
    padding: 10px;
    margin-left: auto;
    background-color: rgb(46, 46, 46);
    animation: fadeIn 0.5s ease-out;
}

.friend-chat{
    margin-bottom: 10px;
    border-radius: 20px;

    width: fit-content;
    max-width: 60vw;
    padding: 10px 10px 10px 10px;
    background-color: rgb(46, 46, 46);
}


.ai-chat{
    margin-bottom: 50px;
    animation: fadeIn 1s ease-out;
}

footer{
    display: flex;
    justify-content: center;
    grid-area: footer;
}

.input-chat {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.input-container{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    width: 100%;
    height: 100px;
    outline: none;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.input{
    display: flex;
    height: 100%;
    width: 100%;
}

/* Ignore backround generated by chrome */
input[data-autocompleted] {
    background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 0s, color 0s 0s;
    transition-delay: calc(infinity * 1s);
}

.send-btn{
    color: white;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
    min-width: 40px;
    border: none;
    background-color: rgb(77, 77, 77);
    border-radius: 20px;
    transition: 0.5s;
}

.send-btn:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}

.input-chat input{
    opacity: 80%;
    color: white;
    font-family: google-sans;
    background-color: rgb(56, 56, 56);
    border: none;
    outline: none;
    outline: none;
    height: 40px;
    width: 100%;
    z-index: 1;
}

.input-chat input:hover{
    border: none;
}

aside .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 24vh 58vh 10vh;
    grid-template-areas: 
    "sidebar-navbar"
    "sidebar-summarry"
    "chat-history"
    "ads";
}
    
    /*
aside .container {
    position: relative;
    min-height: 100%;
}*/

.sidebar-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;

    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    grid-area: sidebar-navbar;
}

.sidebar-navbar .icon{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
}

.sidebar-navbar .icon:hover{
    cursor: pointer;
    background-color: rgb(59, 59, 59);
}

.sidebar-navbar .right{
    margin-left: auto;
}

.sidebar-summarry{
    padding: 10px;
    grid-area: sidebar-summarry;
}

.sidebar-summarry a p {
    color: rgb(255, 255, 255);
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebar-summarry a {
    text-decoration: none;
}

.sidebar-summarry a p:hover{
    background-color: rgb(44, 44, 44)
}

.chat-history{
    padding: 10px;
    grid-area: chat-history;
    overflow-y: scroll;
    max-height: 100%;
}

.chat-history::-webkit-scrollbar {
    display: none;
    overflow: hidden;
    }


.chat-history .chat .chat-box a{
    color: linear;
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 10px;
    margin-top: 5px;
    transition: 0.2s;
    text-decoration: none;
}

.chat-history .chat .chat-box a p{
    color: white;
    display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.8em;
  line-height: 1.8em;
}

.chat-history .chat .active a{
    background-color: rgb(53, 53, 53);
}

.chat-history .chat-box a:hover{
    background-color: rgb(44, 44, 44)
}

.ads{
    padding: 10px;
    font-size: small;
    grid-area: ads;
    position: absolute;
    bottom: 0;
}

.ads .comment{
    opacity: 40%;
    font-size: small;
}

@media(max-width: 800px) {
    body{
        grid-template-columns: 0px 1fr;
        font-size: smaller;
    }
    #btn-sidebar {
        display: block;
    }
    aside{
        width: 250px;
        position: fixed;
        left: -250px;
        transition: 0.3s;
        z-index: 10;
        height: 100%;
    }
    .show{
        display: block;
        z-index: 10;
        left: 0;
    }

    .background-sidebar{
        transition: 1s;
        opacity: 50%;
        background-color: black;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 9;
    }
}