<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibikumonogatari | Get Started</title>
    <link rel="stylesheet" href="./css/Dashboard.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Hibikumonogatari</h1>
            <p>Can you leave chocolate on the table?</p>
            <h4>Welcome home, <%= user %></h4>
        </div>
    </div>
</body>
</html>